<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Composite UI Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Stylesheets derived at runtime from UI Service -->
    <link th:each="style : ${css}" rel="stylesheet" type="text/css" th:href="${style}"></link>
</head>
<body>

<h3>Composite UI Test</h3>

<div id="app"></div>

<script src="dist/vendor/almond.js"></script>
<script src="dist/vendor/react.js"></script>
<script src="dist/vendor/react.dom.js"></script>
<script src="bundle.js"></script>
</body>
</html>