<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Composite admin dashboard demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css"></link>
    <link href="vendor/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css"></link>
    <!-- Stylesheets derived at runtime from UI Service -->
    <link th:each="style : ${css}" rel="stylesheet" type="text/css" th:href="${style}"></link>

</head>
<body>

<div id="app">
    <!-- Everything in here should be populated by feature plugins-->
</div>

<script src="vendor/jquery/dist/jquery.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="vendor/almond/almond.js"></script>
<script src="vendor/react/react.js"></script>
<script src="vendor/react/react-dom.js"></script>
<script src="vendor/react-bootstrap/react-bootstrap.js"></script>
<script src="vendor/react-router/react-router.js"></script>
<script src="bundle.js"></script>

<script>
    require("dashboard/routes/default");
    require("dashboard/router").render('app');
</script>
</body>
</html>