<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Composite Dashboard Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <link href="plugins/dashboard-base/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css"></link>
    <link href="plugins/dashboard-base/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"></link>
    <link href="plugins/dashboard-base/bower_components/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" type="text/css"></link>
    <style>
        .dashboard-page{
            margin-top: 50px !important;
        }
    </style>
</head>
<body>

<div id="app"></div>
<script src="plugins/dashboard-base/bower_components/jquery/dist/jquery.js"></script>
<script src="plugins/dashboard-base/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="plugins/dashboard-base/bower_components/metisMenu/dist/metisMenu.js"></script>
<script src="plugins/dashboard-base/bower_components/sb-admin-2/js/sb-admin-2.js"></script>
<script src="plugins/dashboard-base/bower_components/almond/almond.js"></script>

<script src="bundle.js"></script>

<script>
    require("dashboard");
</script>

</body>
</html>