.navbar {
    border: 0;
    position: fixed;
    left: 300px;
    width: 100%
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #23282e;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #e1ffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #111;
}

.navright{
    float:right;
    list-style-type:none;
}